<div class="flash_messages">
  <% unless flash.nil? %>
    <% flash.each do |type, message| %>
      <% if type == :success %>
        <% alert_type = 'alert-success' %>
      <% elsif type == :error %>
        <% alert_type = 'alert-error' %>
      <% else %>
        <% alert_type = 'alert-info' %>
      <% end %>
      <div class="alert <%= alert_type %> fade in no-margin">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>


<% if @accounts.present? %>
  <% @accounts.each do |acc| %>
    <label>User Name: </label>
    <%= acc.user.username %>
    <label>Account Name: </label>
      <%= acc.name %>
    <% if acc.account_roles.present? %>
      <label>Account Role Name: </label>
      <% acc.account_roles.each do |account_role| %>
        <%= link_to rights_path(id: account_role.id) do %>
          <%= account_role.name %>
        <% end %>
      <% end %>
      <br>
    <% end %>
    <br>
  <% end %>
<% end %>