<!DOCTYPE html>
<html>
  <head>
    <title>RoleAssignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: "all"  %>
    <%= javascript_include_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
